<a href="https://colab.research.google.com/github/sonishrey9/Association-Rule-Data-Science/blob/main/pysparkstudy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [33]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

In [34]:
data = spark.read.csv(r"/content/SampleSuperstore.csv",inferSchema=True,header = True)
data.show()

+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|     Ship Mode|    Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|   Sales|Quantity|Discount|  Profit|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases|  261.96|       2|     0.0| 41.9136|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs|  731.94|       3|     0.0| 219.582|
|  Second Class|  Corporate|United States|    Los Angeles|    California|      90036|   West|Office Supplies|      Labels|   14.62|       2|     0.0|  6.8714|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables|957.5775|       5|    0.45|-383.031|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage|  22.368|       2|     0.2|  2.5164|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings|   48.86|       7|     0.0| 14.1694|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art|    7.28|       4|     0.0|  1.9656|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 907.152|       6|     0.2| 90.7152|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders|  18.504|       3|     0.2|  5.7825|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances|   114.9|       5|     0.0|   34.47|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables|1706.184|       9|     0.2| 85.3092|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 911.424|       4|     0.2| 68.3568|
|Standard Class|   Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper|  15.552|       3|     0.2|  5.4432|
|Standard Class|   Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| 407.976|       3|     0.2|132.5922|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|  Appliances|   68.81|       5|     0.8|-123.858|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|     Binders|   2.544|       3|     0.8|  -3.816|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage|  665.88|       6|     0.0| 13.3176|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage|    55.5|       2|     0.0|    9.99|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art|    8.56|       2|     0.0|  2.4824|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones|  213.48|       3|     0.2|  16.011|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [35]:
data.describe()

DataFrame[summary: string, Ship Mode: string, Segment: string, Country: string, City: string, State: string, Postal Code: string, Region: string, Category: string, Sub-Category: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [36]:
data.columns

['Ship Mode',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Category',
 'Sub-Category',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [37]:
dict_null = {col: data.filter(data[col].isNull()).count() for col in data.columns}
dict_null #to check null values

{'Category': 0,
 'City': 0,
 'Country': 0,
 'Discount': 0,
 'Postal Code': 0,
 'Profit': 0,
 'Quantity': 0,
 'Region': 0,
 'Sales': 0,
 'Segment': 0,
 'Ship Mode': 0,
 'State': 0,
 'Sub-Category': 0}

In [38]:
data.columns

['Ship Mode',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Category',
 'Sub-Category',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [39]:
data.select([
 'Segment',
 'Category',
 ]).distinct().show() # combinations of distinct values

+-----------+---------------+
|    Segment|       Category|
+-----------+---------------+
|Home Office|Office Supplies|
|  Corporate|     Technology|
|   Consumer|Office Supplies|
|Home Office|     Technology|
|   Consumer|     Technology|
|Home Office|      Furniture|
|  Corporate|      Furniture|
|   Consumer|      Furniture|
|  Corporate|Office Supplies|
+-----------+---------------+

In [40]:
data.printSchema()

root
 |-- Ship Mode: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [41]:
df = data.toPandas() # to convert dataframe into pandas
df

           Ship Mode    Segment        Country  ... Quantity Discount    Profit
0       Second Class   Consumer  United States  ...        2     0.00   41.9136
1       Second Class   Consumer  United States  ...        3     0.00  219.5820
2       Second Class  Corporate  United States  ...        2     0.00    6.8714
3     Standard Class   Consumer  United States  ...        5     0.45 -383.0310
4     Standard Class   Consumer  United States  ...        2     0.20    2.5164
...              ...        ...            ...  ...      ...      ...       ...
9989    Second Class   Consumer  United States  ...        3     0.20    4.1028
9990  Standard Class   Consumer  United States  ...        2     0.00   15.6332
9991  Standard Class   Consumer  United States  ...        2     0.20   19.3932
9992  Standard Class   Consumer  United States  ...        4     0.00   13.3200
9993    Second Class   Consumer  United States  ...        2     0.00   72.9480

[9994 rows x 13 columns]

In [42]:
data.filter(data.Segment == "Consumer").show()

+--------------+--------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|     Ship Mode| Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|   Sales|Quantity|Discount|  Profit|
+--------------+--------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|  Second Class|Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases|  261.96|       2|     0.0| 41.9136|
|  Second Class|Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs|  731.94|       3|     0.0| 219.582|
|Standard Class|Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables|957.5775|       5|    0.45|-383.031|
|Standard Class|Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage|  22.368|       2|     0.2|  2.5164|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings|   48.86|       7|     0.0| 14.1694|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art|    7.28|       4|     0.0|  1.9656|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 907.152|       6|     0.2| 90.7152|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders|  18.504|       3|     0.2|  5.7825|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances|   114.9|       5|     0.0|   34.47|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables|1706.184|       9|     0.2| 85.3092|
|Standard Class|Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 911.424|       4|     0.2| 68.3568|
|Standard Class|Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper|  15.552|       3|     0.2|  5.4432|
|Standard Class|Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| 407.976|       3|     0.2|132.5922|
|Standard Class|Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage|  665.88|       6|     0.0| 13.3176|
|  Second Class|Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage|    55.5|       2|     0.0|    9.99|
|  Second Class|Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art|    8.56|       2|     0.0|  2.4824|
|  Second Class|Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones|  213.48|       3|     0.2|  16.011|
|  Second Class|Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|     Binders|   22.72|       4|     0.2|   7.384|
|  Second Class|Consumer|United States|   Philadelphia|  Pennsylvania|      19140|   East|      Furniture|      Chairs|  71.372|       2|     0.3| -1.0196|
|Standard Class|Consumer|United States|           Orem|          Utah|      84057|   West|      Furniture|      Tables| 1044.63|       3|     0.0|240.2649|
+--------------+--------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [43]:
data.filter(data.Segment == "Consumer").select(['Ship Mode',
 'Segment',
 'Country',
 'City']).show()

+--------------+--------+-------------+---------------+
|     Ship Mode| Segment|      Country|           City|
+--------------+--------+-------------+---------------+
|  Second Class|Consumer|United States|      Henderson|
|  Second Class|Consumer|United States|      Henderson|
|Standard Class|Consumer|United States|Fort Lauderdale|
|Standard Class|Consumer|United States|Fort Lauderdale|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|    Los Angeles|
|Standard Class|Consumer|United States|        Concord|
|Standard Class|Consumer|United States|        Seattle|
|Standard Class|Consumer|United States|        Madison|
|  Second Class|Consumer|United States|    West Jordan|
|  Second Class|Consumer|United States|  San Francisco|
|  Second Class|Consumer|United States|  San Francisco|
|  Second Class|Consumer|United States|  San Francisco|
|  Second Class|Consumer|United States|   Philadelphia|
|Standard Class|Consumer|United States|           Orem|
+--------------+--------+-------------+---------------+
only showing top 20 rows

In [44]:
data.createOrReplaceTempView('pf') # sql command to create spark sql 
spark.sql('select * from pf').show()

+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|     Ship Mode|    Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|   Sales|Quantity|Discount|  Profit|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases|  261.96|       2|     0.0| 41.9136|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs|  731.94|       3|     0.0| 219.582|
|  Second Class|  Corporate|United States|    Los Angeles|    California|      90036|   West|Office Supplies|      Labels|   14.62|       2|     0.0|  6.8714|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables|957.5775|       5|    0.45|-383.031|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage|  22.368|       2|     0.2|  2.5164|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings|   48.86|       7|     0.0| 14.1694|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art|    7.28|       4|     0.0|  1.9656|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 907.152|       6|     0.2| 90.7152|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders|  18.504|       3|     0.2|  5.7825|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances|   114.9|       5|     0.0|   34.47|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables|1706.184|       9|     0.2| 85.3092|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 911.424|       4|     0.2| 68.3568|
|Standard Class|   Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper|  15.552|       3|     0.2|  5.4432|
|Standard Class|   Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| 407.976|       3|     0.2|132.5922|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|  Appliances|   68.81|       5|     0.8|-123.858|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|     Binders|   2.544|       3|     0.8|  -3.816|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage|  665.88|       6|     0.0| 13.3176|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage|    55.5|       2|     0.0|    9.99|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art|    8.56|       2|     0.0|  2.4824|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones|  213.48|       3|     0.2|  16.011|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
only showing top 20 rows

In [45]:
from pyspark.sql.functions import *

In [46]:
data.columns

['Ship Mode',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Category',
 'Sub-Category',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [47]:
data.groupby("Segment").agg(max('Profit')).show()

+-----------+-----------+
|    Segment|max(Profit)|
+-----------+-----------+
|   Consumer|  6719.9808|
|Home Office|  3919.9888|
|  Corporate|   8399.976|
+-----------+-----------+

In [48]:
dk = data.groupBy(["Segment",'Category']).agg(max('Profit'),avg('Profit'))

In [49]:
dk.show()

+-----------+---------------+-----------+------------------+
|    Segment|       Category|max(Profit)|       avg(Profit)|
+-----------+---------------+-----------+------------------+
|Home Office|Office Supplies|   1906.485|24.034438924930438|
|  Corporate|     Technology|   8399.976|  79.7238231046931|
|   Consumer|Office Supplies|    4946.37| 18.01417364886475|
|Home Office|     Technology|  3919.9888| 89.15245760233913|
|   Consumer|     Technology|  6719.9808|  74.4456462670873|
|Home Office|      Furniture|   746.4078|10.705465193370161|
|  Corporate|      Furniture|   1013.127|11.741200928792571|
|   Consumer|      Furniture|    770.352| 6.281292542677445|
|  Corporate|Office Supplies|   1906.485|22.102923186813175|
+-----------+---------------+-----------+------------------+

In [50]:
data.groupBy("Segment").agg(max('Profit'),avg('Profit')).show()

+-----------+-----------+------------------+
|    Segment|max(Profit)|       avg(Profit)|
+-----------+-----------+------------------+
|   Consumer|  6719.9808| 25.83687328067804|
|Home Office|  3919.9888|33.818664329781306|
|  Corporate|   8399.976| 30.45666688741729|
+-----------+-----------+------------------+

In [51]:
df1 = spark.read.csv('/content/2010-12-01.csv', inferSchema = True, header = True)
df1.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [52]:
df2 = spark.read.csv('/content/2010-12-02.csv', inferSchema = True, header = True)
df2.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536598|    21421|PORCELAIN ROSE LA...|      12|2010-12-02 07:48:00|     1.25|   13090.0|United Kingdom|
|   536598|    21422|PORCELAIN ROSE SMALL|      16|2010-12-02 07:48:00|     0.85|   13090.0|United Kingdom|
|   536598|    22178|VICTORIAN GLASS H...|      24|2010-12-02 07:48:00|     1.25|   13090.0|United Kingdom|
|   536598|    22617|BAKING SET SPACEB...|      24|2010-12-02 07:48:00|     4.25|   13090.0|United Kingdom|
|   536599|    22968|ROSE COTTAGE KEEP...|       8|2010-12-02 07:49:00|      8.5|   15694.0|United Kingdom|
|   536599|    22727|ALARM CLOCK BAKEL...|       4|2010-12-02 07:49:00|     3.75|   15694.0|United Kingdom|
|   536599|    22726|ALARM CLOCK BAKEL...|      12|2010-12-02 07:49:00|     3.75|   15694.0|United Kingdom|
|   536599|    84945|MULTI COLOUR SILV...|      36|2010-12-02 07:49:00|     0.85|   15694.0|United Kingdom|
|   536599|    20749|ASSORTED COLOUR M...|      12|2010-12-02 07:49:00|     6.35|   15694.0|United Kingdom|
|   536599|    21056|DOCTOR'S BAG SOFT...|       8|2010-12-02 07:49:00|     8.95|   15694.0|United Kingdom|
|   536600|   85123A|WHITE HANGING HEA...|       6|2010-12-02 08:32:00|     2.55|   17850.0|United Kingdom|
|   536600|    71053| WHITE METAL LANTERN|       6|2010-12-02 08:32:00|     3.39|   17850.0|United Kingdom|
|   536600|    82483|WOOD 2 DRAWER CAB...|       4|2010-12-02 08:32:00|     4.95|   17850.0|United Kingdom|
|   536600|    82486|WOOD S/3 CABINET ...|       2|2010-12-02 08:32:00|     6.95|   17850.0|United Kingdom|
|   536600|    82482|WOODEN PICTURE FR...|       6|2010-12-02 08:32:00|      2.1|   17850.0|United Kingdom|
|   536600|   82494L|WOODEN FRAME ANTI...|       6|2010-12-02 08:32:00|     2.55|   17850.0|United Kingdom|
|   536600|    22411|JUMBO SHOPPER VIN...|       6|2010-12-02 08:32:00|     1.65|   17850.0|United Kingdom|
|   536600|   84029G|KNITTED UNION FLA...|       6|2010-12-02 08:32:00|     3.39|   17850.0|United Kingdom|
|   536600|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-02 08:32:00|     3.39|   17850.0|United Kingdom|
|   536600|    22752|SET 7 BABUSHKA NE...|       2|2010-12-02 08:32:00|     7.65|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [53]:
person = spark.createDataFrame([
(0, "Bill Chambers", 0, [100]),
(1, "Matei Zaharia", 1, [500, 250, 100]),
(2, "Michael Armbrust", 1, [250, 100])])\
.toDF("id", "name", "graduate_program", "spark_status")

graduateProgram = spark.createDataFrame([
(0, "Masters", "School of Information", "UC Berkeley"),
(2, "Masters", "EECS", "UC Berkeley"),
(1, "Ph.D.", "EECS", "UC Berkeley")])\
.toDF("id", "degree", "department", "school")

sparkStatus = spark.createDataFrame([
(500, "Vice President"),
(250, "PMC Member"),
(100, "Contributor")])\
.toDF("id", "status")

In [54]:
person.show()

+---+----------------+----------------+---------------+
| id|            name|graduate_program|   spark_status|
+---+----------------+----------------+---------------+
|  0|   Bill Chambers|               0|          [100]|
|  1|   Matei Zaharia|               1|[500, 250, 100]|
|  2|Michael Armbrust|               1|     [250, 100]|
+---+----------------+----------------+---------------+

In [55]:
graduateProgram.show()

+---+-------+--------------------+-----------+
| id| degree|          department|     school|
+---+-------+--------------------+-----------+
|  0|Masters|School of Informa...|UC Berkeley|
|  2|Masters|                EECS|UC Berkeley|
|  1|  Ph.D.|                EECS|UC Berkeley|
+---+-------+--------------------+-----------+

In [56]:
sparkStatus.show()

+---+--------------+
| id|        status|
+---+--------------+
|500|Vice President|
|250|    PMC Member|
|100|   Contributor|
+---+--------------+

In [57]:
person.join(graduateProgram, person["id"] == graduateProgram['id'],'inner').show()

+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  2|Masters|                EECS|UC Berkeley|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [61]:
df11 = spark.createDataFrame([[1,'Navee','Srikanth','mba'], [2,None,'Srikanth','shsj'] ,[6,None,None,None], [3,'Naveen',None,None],[4,'Naveen','aba','bhsv'],[5,'Naveen',None,'bhsv']], ['ID','FirstName','LastName','course'])

In [62]:
df11.show()

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  2|     null|Srikanth|  shsj|
|  6|     null|    null|  null|
|  3|   Naveen|    null|  null|
|  4|   Naveen|     aba|  bhsv|
|  5|   Naveen|    null|  bhsv|
+---+---------+--------+------+

In [65]:
df11.describe().show(vertical = True)

-RECORD 0-----------------------
 summary   | count
 ID        | 6
 FirstName | 4
 LastName  | 3
 course    | 4
-RECORD 1-----------------------
 summary   | mean
 ID        | 3.5
 FirstName | null
 LastName  | null
 course    | null
-RECORD 2-----------------------
 summary   | stddev
 ID        | 1.8708286933869707
 FirstName | null
 LastName  | null
 course    | null
-RECORD 3-----------------------
 summary   | min
 ID        | 1
 FirstName | Navee
 LastName  | Srikanth
 course    | bhsv
-RECORD 4-----------------------
 summary   | max
 ID        | 6
 FirstName | Naveen
 LastName  | aba
 course    | shsj

In [66]:
dict_null = {col: df11.filter(df11[col].isNull()).count() for col in df11.columns}
dict_null #to check null values

{'FirstName': 2, 'ID': 0, 'LastName': 3, 'course': 2}

In [68]:
df11.na.drop().show()

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  4|   Naveen|     aba|  bhsv|
+---+---------+--------+------+

In [70]:
df11.na.drop(how = 'any').show() #for any kind of null values

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  4|   Naveen|     aba|  bhsv|
+---+---------+--------+------+

In [73]:
df11.na.drop(how = 'any', thresh = 2).show()

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  2|     null|Srikanth|  shsj|
|  3|   Naveen|    null|  null|
|  4|   Naveen|     aba|  bhsv|
|  5|   Naveen|    null|  bhsv|
+---+---------+--------+------+

In [74]:
df11.na.drop(how='any', subset=["FirstName"]).show()

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  3|   Naveen|    null|  null|
|  4|   Naveen|     aba|  bhsv|
|  5|   Naveen|    null|  bhsv|
+---+---------+--------+------+

In [75]:
df101 =spark.createDataFrame([(1, 'Peter', 1.79, 28,'M', 'Tiler'),
                            (2, 'Fritz', 1.78, 45,'M', None),
                            (3, 'Florence', 1.75, None, None, None),
                            (4, 'Nicola',1.6, 33,'F', 'Dancer'),
                            (5, 'Gregory', 1.8, 54,'M', 'Teacher'),
                            (6, 'Steven', 1.82, None, 'M', None),
                            (7, 'Dagmar', 1.7, 42,'F', 'Nurse'),]
                           , ['id', 'Name', 'Height', 'Age', 'Gender', 'Occupation'])

In [76]:
df101.show()

+---+--------+------+----+------+----------+
| id|    Name|Height| Age|Gender|Occupation|
+---+--------+------+----+------+----------+
|  1|   Peter|  1.79|  28|     M|     Tiler|
|  2|   Fritz|  1.78|  45|     M|      null|
|  3|Florence|  1.75|null|  null|      null|
|  4|  Nicola|   1.6|  33|     F|    Dancer|
|  5| Gregory|   1.8|  54|     M|   Teacher|
|  6|  Steven|  1.82|null|     M|      null|
|  7|  Dagmar|   1.7|  42|     F|     Nurse|
+---+--------+------+----+------+----------+

In [81]:
df101.na.drop(how = 'any',thresh = 2).show()

+---+--------+------+----+------+----------+
| id|    Name|Height| Age|Gender|Occupation|
+---+--------+------+----+------+----------+
|  1|   Peter|  1.79|  28|     M|     Tiler|
|  2|   Fritz|  1.78|  45|     M|      null|
|  3|Florence|  1.75|null|  null|      null|
|  4|  Nicola|   1.6|  33|     F|    Dancer|
|  5| Gregory|   1.8|  54|     M|   Teacher|
|  6|  Steven|  1.82|null|     M|      null|
|  7|  Dagmar|   1.7|  42|     F|     Nurse|
+---+--------+------+----+------+----------+

In [84]:
df11.na.fill({"FirstName": "shrey", "LastName" : "soni"}).show() #for multiple columns

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  2|    shrey|Srikanth|  shsj|
|  6|    shrey|    soni|  null|
|  3|   Naveen|    soni|  null|
|  4|   Naveen|     aba|  bhsv|
|  5|   Naveen|    soni|  bhsv|
+---+---------+--------+------+

In [85]:
df11.na.fill(value='soni',subset=["LastName"]).show() # for one column

+---+---------+--------+------+
| ID|FirstName|LastName|course|
+---+---------+--------+------+
|  1|    Navee|Srikanth|   mba|
|  2|     null|Srikanth|  shsj|
|  6|     null|    soni|  null|
|  3|   Naveen|    soni|  null|
|  4|   Naveen|     aba|  bhsv|
|  5|   Naveen|    soni|  bhsv|
+---+---------+--------+------+

In [87]:
### Filling the Missing Value
df11.na.fill('Missing Values',["FirstName", "LastName"]).show() # for multiple columns

+---+--------------+--------------+------+
| ID|     FirstName|      LastName|course|
+---+--------------+--------------+------+
|  1|         Navee|      Srikanth|   mba|
|  2|Missing Values|      Srikanth|  shsj|
|  6|Missing Values|Missing Values|  null|
|  3|        Naveen|Missing Values|  null|
|  4|        Naveen|           aba|  bhsv|
|  5|        Naveen|Missing Values|  bhsv|
+---+--------------+--------------+------+